RABBITMQ_VERSION=<rabbitmq version, default latest>
RABBITMQ_DEFAULT_USER=<admin username, default guest>
RABBITMQ_DEFAULT_PASS=<admin password, default guest>
RABBITMQ_HOST=<address to rabbitmq host, default localhost or rabbitmq>
RABBITMQ_CONNECTION_ATTEMPTS=<number of connection retry attempts, default 10>
RABBITMQ_RETRY_DELAY=<delay before a connection retry, default 5>
RABBITMQ_QUEUE_NAME=<queue name, default default>
