RABBITMQ_VERSION=<rabbitmq version>
RABBITMQ_DEFAULT_USER=<admin username>
RABBITMQ_DEFAULT_PASS=<admin password>
RABBITMQ_HOST=<address to rabbitmq host>
RABBITMQ_CONNECTION_ATTEMPTS=<number of connection retry attempts>
RABBITMQ_RETRY_DELAY=<delay before a connection retry>
RABBITMQ_QUEUE_NAME=<queue name>
